@import "locomotive-scroll/dist/locomotive-scroll.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* hide scrollbar in Firefox */
  scrollbar-width: none;
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar {
  display: none;
}

